<div class="row">
    <div class="col-xs-3">
      <!--这里是二级导航菜单-->
      <div class="list-group">
        <a href="javascript:void(0);" class="list-group-item active">
          二级导航菜单
        </a>
        <a routerLink="pictures" class="list-group-item">只看图片</a>
        <a routerLink="text" class="list-group-item">只看文字</a>
      </div>
    </div>


    <div class="col-xs-9">
      <div class="card">
        <div class="card-header bg-primary"><span class="text-white">二级路由</span></div>
        <div class="card-body">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>